<h2>User info</h2>

<div class="profile-container">
    <table class="table">
      <tbody>

          <div class="profile-name"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></div>
        <tr class="profile">
          <th class="profile-name">name</th>
          <th class="profile-name"><%= user.name %></th>
        </tr>

        <tr class="profile">
          <th class="profile-name">introduction</th>
          <th class="profile-name"><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <% if user.id == current_user.id %>
        <p class="row">
          <%= link_to "",edit_user_path(user), class: "btn btn-default glyphicon glyphicon-wrench btn-block" %>
          <% else %>
          <%= link_to "",user_path(current_user), class: "btn btn-default glyphicon glyphicon-wrench btn-block" %>
        </p>
    <% end %>

<h2>New book</h2>

<%= form_for Book.new do |b| %>



  <div class="form">
    <p class="newbook-title"><strong>Title</strong></p>
    <%= b.text_field :title, class:"col-lg-12" %>
  </div>

  <div class="form ">
    <p class="newbook-body"><strong>Opinion</strong></p>
    <%= b.text_area :body, class:"col-lg-12"%>
  </div>

  <div class="create-btn">
    <%= b.submit "Create Book", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
</div>
